html, body {
    background: #434242;
    font-family: 'Open Sans', sans-serif !important;
}
body {
    background: #F3EFE0;
    font-size: 15px;
    line-height: 1.64 
}
/* ========================== */

h1 {
    font-weight: 700;
    margin-bottom: 10px;
}
h2 {
    font-weight: 300;
    color: #bf5700;
    /* margin-bottom: 10px; */
    text-align: center;
}
h3 {
    font-weight: 300;
    color: #bf5700;
    /* margin-bottom: 10px; */
}
p {
    display: block;
    color: #727878;
    font-weight: 200;
}
p.top {
    font-size: 1.2rem;
    text-align: center;
    color: #FFFFFF; 
    /* margin: 20px 100px; */
}
p.lead {
    text-align: center;
    color: #727878;
}

figcaption h3 {
    color: #FFF;
    font-size: 1rem;
}
figcaption p {
    color: #FFF;
    font-size: .8rem;
}

/* ========================== */
/* Jumbotron Section */
.jumbotron {
    background-color: #030406;
    background-image: url("../images/backgrounds/black-and-white-blur-gray-34088.jpg");
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    /* background-origin: right; */
    background-attachment: fixed;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.jumbotron .container {
    position: relative;
    text-align: center;
    z-index: 4;
    color: #FFFFFF;
}
.jumbotron .overlay {
    background-color: #bf5700;
    position: absolute;
    top: 0px; 
    bottom: 0px;
    left: 0px; 
    right: 0px;
    opacity: 0.75;
    filter:alpha(opacity=75);
    z-index: 2; 
}
.jumbotron .scroll-down {
    height: 100px;
    width: 100px;
    display: block;
    position: absolute;
    bottom: 0px;
    right: 5%;
    background: #222222;
    text-align: center;
    z-index: 6;
}
.fa-chevron-down {
    color: #FFFFFF;
    margin-top: 20px;
}
.fa-angle-right {
    color: #FFFFFF;
    margin-top: 20px;
}
/* ++++++++++++++ */
/* Chevron Down Animation */
.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }

  @-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  /* ++++++++++++++ */

/* ========================== */
/* Navbar Style */
.navbar {
    border: 0px;
    background-color: #222222;
    width: 100px;
    top: 100%;
    right: 5%;
    z-index: 999;
    position: absolute;
    padding: 0px;
}
.navbar .navbar-collapse {
    padding: 0px;
    max-height: none;
}
.navbar .nav {
    margin: 0px;
}
.nav-item {
    display: block;
    float: none;
    height: 80px;
}
.nav-link {
    display: block;
    height: 80px;
    width: 100px;
    text-align: center;
    padding-top: 30px;
    font-weight: 600;
    color: #FFFFFF;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #bf5700;
    border: 1px solid #030406;
}
.fixed .navbar {
    position: fixed;
    top: 60px;
}
/* ========================== */
.background-white .container { 
    max-width: 1280px;
    padding: 40px 180px;
    background: #FFFFFF;
}
/* ========================== */
/* Profile Section Style */
#profile {
    /* height: 300px; */
    /* margin-bottom: 20px; */
}
.profileRow {
    margin-top: 50px;
    margin-bottom: 50px;
}
.profileColDetails {
    margin-left: 20px;
}
.profileColImg {
width: 100%;
max-width: 400px;
height: auto;
border-radius: 50%;
}
/* ========================== */
/* Placeholder1 */
#placeholder1 {
    background-color: #030406;
    background-image: url("../images/backgrounds/black-and-white-books-design-34627.jpg");
    background-position: center; 
    background-size: auto;
    background-repeat: no-repeat;
    background-origin: right;
    background-attachment: fixed;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#placeholder1 .container {
    position: relative;
    text-align: center;
    z-index: 4;
    color: #FFFFFF;
}

.clearing  {
    /* height: 0px; */
}
/* ========================== */
/* ========================== */
/* Placeholder2 */
#placeholder2 {
    /* background-color: #030406; */
    background-image: url("../images/backgrounds/cup-of-coffee-1280537_1280.jpg");
    /* background-image: url("../images/backgrounds/monitor-1307227_1280.jpg"); */
    background-position: center; 
    background-size: auto;
    background-repeat: no-repeat;
    background-origin: right;
    background-attachment: fixed;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#placeholder2 .container {
    position: relative;
    text-align: center;
    z-index: 4;
    color: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

.clearing  {
    /* height: 0px; */
}
/* ========================== */
/* Portfolio Section */
#portfolio {
    /* margin-bottom: 20px; */
    background-color: #F3EFE0;
}
.portfolioTile {
    margin-right: 30px;
}
#porffolio figure {
    position: relative;
    overflow: hidden;
}
#portfolio figure h3 {
    color: #FFF;
    font-weight: 600;
    margin-bottom: 5px;
}
#portfolio figure img {
    width: 100%;
    border-radius: 50%;
}
#portfolio figure figcaption {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

#portfolio figure a {
z-index: 1000;
text-indent: 200%;
white-space: nowrap;
font-size: 0;
opacity:0;
position: absolute;
top: 0px;
left: 0px;
height: 100%;
width: 100%;
}
#portfolio figure .icon {
    background: #bf5700;
    position: absolute;
    top: 0px;
    right: 0px;
}
#portfolio figure .icon {
    padding: 15px;
}
/* ++++++++++++++ */
figure.effect {
	background: #bf5700;
	color: #FFF;
}
figure.effect img {
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
figure.effect:hover img {
	opacity: 0.2;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect figcaption {
	text-align: left;
}
figure.effect h3 {
	position: relative;
	overflow: hidden;
	padding-bottom: 20px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
figure.effect:hover h3 {
	opacity: 1;
}
figure.effect h3::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}
figure.effect:hover h3::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect p {
	padding-top: 10px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}
figure.effect:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
/* ++++++++++++++ */

/* ========================== */
/* Contact Section Style */
#contact {
    /* height: 1000px; */
    background: #bf5700;
    color: #FFFFFF;
}
#contact h2 {
    color: #FFFFFF;
}
.red{
    color:red;
    }
#contact .form-area
{
    background-color: #F3EFE0;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
    border: 1px solid GREY;
    width: 100%;
    }
#contact .form-area .btn {
    color: #FFFFFF;
}
#contact .btn .btn li {
    text-decoration: none;
}
.fa-linkedin {
    color: #0077B5;
}
.fa-github-square {
    color: #24292e;
}
.fa-stack-overflow {
    color: #f48024;
}
/* ========================== */
@media (max-width: 767px) {
    
    .jumbotron .container {    
        top: 20%;
        padding: 0px;
        /* padding: 40px; */
    }
    .jumbotron .scroll-down {
        width: 100%;
        right: 0px;
        
    }
    .jumbotron .display-4 {
        font-size: 2.1rem;
        font-weight: 300;
        line-height: 1;
        padding: 10px;
        /* left: 50%; */
        
        
    }
    .jumbotron p {
        font-size: 1.1rem;
        font-weight: 200;
        line-height: 1.5;
    }
    p.top {
        margin: 0px;
        text-align: center;
        overflow: hidden;
    }
    .navbar {
        left: 0px;
        width: 100%;
    }
    .navbar .nav > li {
        height: 60px;
    }
    .navbar .nav >li a {
        height: 60px;
        text-align: center;
        padding-top: 20px;
        font-weight: 600;
        color: #FFFFFF;
    }
    .background-white .container {
        padding: 80px 40px;
        min-width: 280px;
    }
    .profileRow h3 {
        text-align: center;
    }
    .profileColDetails {
        text-align: center;
        margin-top: 20px;
    }
    .fixed .navbar {
        position: fixed;
        top: 0px;
    }
    #portfolio figure img {
        width: 100%;
        border-radius: 0%;
    }


}
/* ========================== */
/* ========================== */
/* ========================== */

